<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改巡检条目</title>
    
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_z741tdpn6rum1jor.css">
	<link rel="stylesheet" href="../public/css/public.css">
	<link rel="stylesheet" href="../public/css/sslAlert1.0.css">
    <script src="../public/js/jquery-3.2.0.min.js"></script>
<style>
    .iframe-ct .information{
        width: 900px;
        margin: 30px 0;
        margin-left: 85px;
    }
    .iframe-ct .information>ul>li{
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .iframe-ct .information>ul>li>label{
        margin-right: 10px;
    }
    .iframe-ct .information>.form-button{
        text-align: center;
        margin-left: -85px;
    }
    .iframe-ct .information>.form-button>button{
        margin: 0 15px;
    }
	</style>
</head>
<body>
    <div class="iframe-ct">
        <div class="title-bar">
            <h3>修改巡检条目</h3>
        </div>
        <form action="" class="information clearfix">
             <ul class="clearfix">
                  <li>
                      <label for="item-name">巡检条目内容</label>
                       <input type="text" class="long " id="item-info">
                  </li>
                  <li>
                       <input type="text" class="medium" id="itemCode" >
                  </li>
             </ul>
        </form>
	    <div class="title-bar">
            <h3>选择关联项点</h3>
        </div><br>
		<label class="clearfix" for="" style="margin-left:80px; "> 请选择关联项点:</label>
		<form action="" class="information clearfix">
		   <input type='checkbox'  name="point" onchange='checkAlls(this)' id="check-all"/> &nbsp 全选
            <div id = "pointsDiv">
		     </div>
			<div class="form-button">
				<button class="">返回</button>
				<button class="blue-btn" onclick="modifyItem()">保存</button>
			</div>		
		</form>
   </div>
   <script src="../public/js/public.js"></script>
	<script src="../public/js/sslAlert1.0.js"></script>
    <script src="../public/js/item/item.js"></script>
	<script>
	
           $(document).ready(function(){
            var itemCode= GetQueryString("itemCode");
            //pointInfoWhenModify(pointCode);
            //console.log("111111111111111");
            //console.log(itemCode);style="display:none"
            getItemInfo(itemCode);//获取条目详细信息
            getRelatedPoints(1);//获取关联项点
                                   });
            
        function GetQueryString(name)
        {
           var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
           var r = window.location.search.substr(1).match(reg);
           if(r!=null)return  unescape(r[2]); return null;
        }
    </script>
</body>
</html>