<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改企业信息</title>
    <link rel="stylesheet" href="../public/css/public.css">
    <script src="../public/js/jquery-3.2.0.min.js"></script>
<style>
    .iframe-ct{
        /*height: 1000px;*/
    }
    .iframe-ct .information{
        width: 900px;
        margin: 30px 0;
        margin-left: 85px;
    }
    .iframe-ct .information>ul>li{
        float: left;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    .iframe-ct .information>ul>li>label{
        margin-right: 10px;
    }
    .iframe-ct .information>.form-button{
        text-align: center;
        margin-left: -85px;
    }
    .iframe-ct .information>.form-button>button{
        margin: 0 15px;
    }
    .table-button{
        margin-bottom: 30px;
    }
    .title-bar .tab-panel{
        display: inline-block;
        margin-left: 20px;
    }
    .title-bar .tab-panel>div{
        border-radius: 5px 5px 0 0;
        position: relative;
        bottom: -5px;
        cursor: pointer;
        display: inline-block;
        line-height: 26px;
        padding: 0 20px;
    }
    .title-bar .tab-panel>.current{
        background-color: white;
    }
    .title-bar .tab-panel>div>i{
        font-size: 20px;
    }

    .title-bar .tab-panel>div:first-child i{
        position: relative;
        top: 2px;
        font-size: 22px;
    }
</style>
</head>
<body>
    <div class="iframe-ct">
        <div class="title-bar">
            <h3>企业信息</h3>
        </div>
            <form action="" class="information clearfix">
                <ul class="clearfix">
                    <li>
                        <label for="enterprise-name">企业名称</label>
                        <input type="text" class="medium" id="enterprise-name">
                    </li>
                    <li>
                        <label for="enterprise-type">企业类型</label>
                        <select name="enterprise-type" id="enterprise-type" class="short">
                            <option value="gas-station">加油站</option>
                            <option value="chemical-plant">化工厂</option>
                        </select>
                    </li>
                    <li>
                        <label for="management-department">管辖部门</label>
                        <select name="management-department" id="management-department" class="medium">
                            <option value="office1">安监办1</option>
                        </select>
                    </li>
                    <li>
                        <label for="legal-representative">法人代表</label>
                        <input type="text" class="short" id="legal-representative">
                    </li>
                    <li>
                        <label for="business-phone">企业电话</label>
                        <input type="text" class="medium" id="business-phone">
                    </li>
                    <li>
                        <label for="contact-number">联系电话</label>
                        <input type="text" class="medium" id="contact-number">
                    </li>
                    <li>
                        <label for="address">企业地址</label>
                        <input type="text" class="long" id="address">
                    </li>
                </ul>
                <div class="form-button">
                    <button class="cancel-btn">返回</button>
                    <button class="confirm-btn blue-btn">修改</button>
                </div>
            </form>
        <div class="list">
            <div class="title-bar">
                <div class="tab-panel">
                    <div class="tab-license current">
                        <span>相关证照</span>
                    </div>
                    <div class="tab-point">
                        <span>管辖项点</span>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>证件名称</td>
                        <td>上传时间</td>
                        <td>到期时间</td>
                        <td>是否过期</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>2016-10-10</td>
                        <td>2017-10-10</td>
                        <td>否</td>
                        <td>
                            <button class="view-btn">查看</button>
                            <button class="delete-btn">删除</button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                    </tr>
                </tfoot>
            </table>
            <div class="table-button">
                <button class="previous-page">上一页</button>
                <span>1 / 2</span>
                <button class="next-page">下一页</button>
            </div>
        </div>
        <!--<div class="point">
            <div class="title-bar">
                <h3>企业管辖项点</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>项点名称</td>
                        <td>负责人</td>
                        <td>联系电话</td>
                        <td>GPS-X坐标</td>
                        <td>GPS-Y坐标</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>李四</td>
                        <td>12345678</td>
                        <td>192</td>
                        <td>168</td>
                        <td>
                            <button>查看</button>
                            <button>删除</button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                    </tr>
                </tfoot>
            </table>
            <div class="table-button">
                <button class="">上一页</button>
                <span>1 / 2</span>
                <button class="">下一页</button>
            </div>
        </div>-->
    </div>


<script>
    var enterpriseCode = window.parent.jumpCommand,
        resultData,
        $infoInput = $('.information input'),
        $infoSelect = $('.information select'),
        $confirmBtn = $('.form-button .confirm-btn'),
        $cancelBtn = $('.form-button .cancel-btn'),
        informationStatus = 'read',
        $enterpriseName = $('#enterprise-name'),
        $enterpriseType = $('#enterprise-type'),
        $managementDepartment = $('#management-department'),
        $legalRepresentative = $('#legal-representative'),
        $businessPhone = $('#business-phone'),
        $address = $('#address'),
        $tabPanel = $('.tab-panel'),
        $previousPageBtn = $('.table-button>.previous-page'),
        $nextPage = $('.table-button>.next-page'),
        $pageNumber = $('.table-button>span'),
        $listThead = $('.list>table>thead'),
        $listTbody = $('.list>table>tbody'),
        $listTfoot = $('.list>table>tfoot'),
        currentPageNum,
        lastPageNum
        
        ;

    bindBtnRead();
    getEnterpriseInfo(enterpriseCode);
    getEnterpriseLicense(enterpriseCode,1);

    $tabPanel.on('click','div',function(){
        $(this).parent().find('div').removeClass('current');
        $(this).addClass('current');
    })
    $tabPanel.find('.tab-license').on('click',function(){
        getEnterpriseLicense(enterpriseCode,1);
    })
    $tabPanel.find('.tab-point').on('click',function(){
        getEnterprisePoint(enterpriseCode,1);
    })

    function getEnterpriseLicense(enterpriseCode,page){
        $.get('/getEnterpriseLicense',{enterpriseCode:enterpriseCode,page:page}).done(function(result){
            importListLicense(result.license);
            importPageIndicator('license',result.page,result.lastPage);
        })
    }
    function getEnterprisePoint(enterpriseCode,page){
        $.get('/getEnterprisePoint',{enterpriseCode:enterpriseCode,page:page}).done(function(result){
            importListPoint(result.point);
            importPageIndicator('point',result.page,result.lastPage);
        })
    }

    function importListLicense(dataArr){
        $listThead.empty();
        var $theadTr = $(
            '<tr>'+
            '<td>序号</td>'+
            '<td>证件名称</td>'+
            '<td>上传时间</td>'+
            '<td>到期时间</td>'+
            '<td>是否过期</td>'+
            '<td>操作</td>'+
            '</tr>'
        );
        $listThead.append($theadTr);
        $listTfoot.empty();
        var $tfootTr = $(
            '<tr>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
            '</tr>'
        );
        $listTfoot.append($tfootTr);
        $listTbody.empty();
        $(dataArr).each(function(i){
            var $tbodyTr = $('<tr></tr>');
            $tbodyTr.append('<td>'+ (i+1)+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.licenseName+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.uploadDate + '</td>');
            $tbodyTr.append('<td>'+ dataArr.expireDate+ '</td>');
            if(dataArr.expiredStatus){
                $tbodyTr.append('<td>'+ '是'+ '</td>');
            }else{
                $tbodyTr.append('<td>'+ '否'+ '</td>');
            }
            $tbodyTr.append('<td><button class="view-btn">查看</button><button class="delete-btn">删除</button></td>');
            $listTbody.append($tbodyTr);
        })
        bindListBtn('license');
    }
    function importListPoint(dataArr){
        $listThead.empty();
        var $theadTr = $(
            '<tr>'+
            '<td>序号</td>'+
            '<td>项点名称</td>'+
            '<td>负责人</td>'+
            '<td>联系电话</td>'+
            '<td>GPS-X坐标</td>'+
            '<td>GPS-Y坐标</td>'+
            '<td>操作</td>'+
            '</tr>'
        );
        $listThead.append($theadTr);
        $listTfoot.empty();
        var $tfootTr = $(
            '<tr>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
                '<td>&nbsp</td>'+
            '</tr>'
        );
        $listTfoot.append($tfootTr);
        $listTbody.empty();
        $(dataArr).each(function(i){
            var $tbodyTr = $('<tr></tr>');
            $tbodyTr.append('<td>'+ (i+1)+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.pointName+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.pointPrincipal + '</td>');
            $tbodyTr.append('<td>'+ dataArr.phone+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.GPSX+ '</td>');
            $tbodyTr.append('<td>'+ dataArr.GPSY+ '</td>');
            $tbodyTr.append('<td><button class="view-btn">查看</button><button class="delete-btn">删除</button></td>');
            $listTbody.append($tbodyTr);
        })
        bindListBtn('point');
    }
    function importPageIndicator(type,page,lastPage){
        currentPageNum = page;
        lastPageNum = lastPage;
        $previousPageBtn.off('click');
        $nextPage.off('click');
        $pageNumber.text(page+ ' / '+ lastPage);
        switch(type){
            case 'license':
                $previousPageBtn.on('click',function(){
                    if(currentPageNum > 1){
                        getEnterpriseLicense(enterpriseCode,currentPageNum+1);
                    }
                })
                $nextPage.on('click',function(){
                    if(currentPageNum < lastPageNum){
                        getEnterpriseLicense(enterpriseCode,currentPageNum-1);
                    }
                })
                break;
            case 'point':
                $previousPageBtn.on('click',function(){
                    if(currentPageNum > 1){
                        getEnterprisePoint(enterpriseCode,currentPageNum+1);
                    }
                })
                $nextPage.on('click',function(){
                    if(currentPageNum < lastPageNum){
                        getEnterprisePoint(enterpriseCode,currentPageNum-1);
                    }
                })
                break;
        }
    }
    function bindListBtn(type){
        var $viewBtns = $('.list .view-btn'),
            $deleteBtns = $('.list delete-btn');
        switch(type){
            case 'license':
                $deleteBtns.on('click',function(){
                    window.parent.showDialog('删除',function(){

                    })
                })
                break;
            case 'point':
                $deleteBtns.on('click',function(){
                    window.parent.showDialog('删除',function(){

                    })
                })
                break;
        }
    }
    function getEnterpriseInfo(enterpriseCode){
        $.get('/getEnterpriseInfo',{enterpriseCode:enterpriseCode}).done(function(result){
            resultData = result;
            importInfo(result);
        })
    }
    function importInfo(data){
        $enterpriseName.val(data.enterpriseName);
        $enterpriseType.val(data.enterpriseType);
        $managementDepartment.val(data.managementDepartment);
        $legalRepresentative.val(data.legalRepresentative);
        $businessPhone.val(data.businessPhone);
        $address.val(data.address);
    }
    function bindBtnRead(){
        informationStatus = 'read';
        $confirmBtn.text('修改');
        $cancelBtn.text('返回');
        $infoInput.attr('disabled','disabled');
        $infoInput.css('cursor','not-allowed');
        $infoSelect.attr('disabled','disabled');
        $cancelBtn.off('click');
        $confirmBtn.off('click');
        $cancelBtn.on('click',function(){
            event.preventDefault();
            window.parent.jump('views/enterprise/getEnterpriseList.html')
        });
        $confirmBtn.on('click',function(){
            // event.stopPropagation();
            event.preventDefault();
            bindBtnEdit();
        })
    }
    function bindBtnEdit(){
        informationStatus = 'edit';
        $cancelBtn.text('取消');
        $confirmBtn.text('保存');
        $infoInput.removeAttr('disabled');
        $infoSelect.removeAttr('disabled');
        $infoInput.css('cursor','auto');
        $cancelBtn.off('click');
        $confirmBtn.off('click');
        $confirmBtn.on('click',function(){
            event.preventDefault();
            modifyEnterprise();
        });
        $cancelBtn.on('click',function(){
            // event.stopPropagation();
            event.preventDefault();
            importInfo(resultData);
            bindBtnRead();

        })
    }

    function modifyEnterprise(){
        $.post('modifyEnterprise',{
            
        }).done(function(){
            bindBtnRead();
        })
    }

</script>
</body>
</html>