<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>安全承诺管理</title>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_aaebiml8x5b138fr.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <script src="../public/js/jquery-3.2.0.min.js"></script>
<style>
    .iframe-ct{
        position: relative;
        /*height: 830px;*/
    }
    .table-button{
        margin-bottom: 30px;
    }
</style>
</head>
<body>
    <div class="iframe-ct">
        <div class="title-bar">
            <h3>安全承诺管理</h3>
            <span class="">
                <i class="iconfont icon-search"></i>
                <div class="search-panel">
                    <form action="">
                        <label for="">关键词</label><br>
                        <input type="text" id="keyword"><br>
                        <label for="search-type">按照</label><br>
                        <select name="search-type" id="search-type" class="">
                            <option value="title">通知标题</option>
                            <option value="sender">发送者</option>
                            <option value="receiver">接收者</option>
                        </select><br>
                        <button>查询</button>
                    </form>
                </div>
            </span>
        </div>
        <div class="safe-promise">
            <table>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>日期</td>
                        <td>企业名称</td>
                        <td>管辖部门</td>
                        <td>上传日期</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>日期</td>
                        <td>xxxxxxxxxxxxxx</td>
                        <td>安监办1</td>
                        <td>2016-10-10</td>
                        <td>
                            <button class="view-btn">查看</button>
                            <button class="delete-btn">删除</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                    </tr>
                </tfoot>
            </table>
            <div class="table-button">
                <button class="previous-page">上一页</button>
                <button class="next-page">下一页</button>
                <span class="page-number">1 / 2</span>
                <button class="first-page">首页</button>
                <button class="last-page">尾页</button>
            </div>
        </div>
    </div>
</body>
<script>
    var $listTbody = $('.safe-promise>table>tbody'),
        $pageNumberSpan = $('.safe-promise .page-number'),
        $searchKeyword = $('#keyword'),
        $searchType = $('#search-type'),
        $searchBtn = $('.search-panel .search-btn'),
        $previousPageBtn = $('.table-button .previous-page'),
        $nextPageBtn = $('.table-button .next-page'),
        $lastPageBtn = $('.table-button .last-page'),
        $firstPageBtn = $('.table-button .first-page'),
        currentPage,
        lastPage;

    getSafePromiseList(1);
    // window.parent.showImage([
    //     'views/public/img/test1.jpg',
    //     'views/public/img/test2.jpg',
    //     'views/public/img/test3.jpg',
    //     'views/public/img/test4.jpg',
    //     'views/public/img/test5.jpg',
    //     'views/public/img/test6.jpg',
    //     'views/public/img/test7.jpg'
    // ]);
    $searchBtn.on('click',function(){
        console.log($searchType.val());
        event.preventDefault();
        if($searchKeyword.val()){
            searchSafePromise($searchKeyword.val(),$searchType.val(),1);
        }
    })

    function searchSafePromise(keyword,type,page){
        $.get('/searchSafePromise',{page:keyword,type:type,page:1}).done(function(result){
            importList(result.safePromise);
            currentPage = result.page;
            lastPage = result.lastPage;
            $pageNumberSpan.text(result.page + '/' + result.lastPage);
            bindPageBtns('search');
        })
    }
    function getSafePromiseList(page){
        $.get('/getSafePromiseList',{page:page,userID:1}).done(function(result){
            console.log(result);
            importList(result.safePromise);
            currentPage = result.page;
            lastPage = result.lastPage;
            $pageNumberSpan.text(result.page + '/' + result.lastPage);
            bindPageBtns('get');
        })
    }
    function importList(dataArr){
        $listTbody.empty();
        $(dataArr).each(function(i){
            var $tr = $(
                '<tr><td>'+
                    '<button class="view-btn">查看</button>&nbsp'+
                    '<button class="delete-btn">删除</button>'+
                '</td></tr>'
            );
            $tr.prepend($('<td>'+dataArr[i].uploadDate+'</td>'));
            $tr.prepend($('<td>'+dataArr[i].affiliatedDepartment+'</td>'));
            $tr.prepend($('<td>'+dataArr[i].enterpriseName+'</td>'));
            $tr.prepend($('<td>'+dataArr[i].specifiedDate+'</td>'));
            $tr.prepend($('<td>'+(i+1)+'</td>'));
            $tr.data('safePromiseCode',dataArr[i].safePromiseCode);
            $listTbody.append($tr);
        })
        bindListBtns();
        window.parent.adjustHeight();
    }
    function bindListBtns(){
        var $deleteBtn = $('.safe-promise .delete-btn'),
            $viewBtn = $('.safe-promise .view-btn');

        $deleteBtn.on('click',function(){
            window.parent.showDialog('删除',function(){
                console.log(1);
            });
        })
        $viewBtn.on('click',function(){
            window.parent.showImage([
                'views/public/img/test1.jpg',
                'views/public/img/test2.jpg',
                'views/public/img/test3.jpg',
                'views/public/img/test4.jpg',
                'views/public/img/test5.jpg',
                'views/public/img/test6.jpg',
                'views/public/img/test7.jpg'
            ]);
        })
    }
    function bindPageBtns(type){
        switch(type){
            case 'get':
                $previousPageBtn.on('click',function(){
                    if(currentPage > 1 || lastPage >1){
                        getSafePromiseList(currentPage-1);
                    }
                })
                $nextPageBtn.on('click',function(){
                    if(currentPage < lastPage){
                        getSafePromiseList(currentPage+1);
                    }
                })
                $firstPageBtn.on('click',function(){
                    if(currentPage > 1 || lastPage >1){
                        getSafePromiseList(1);
                    }
                })
                $lastPageBtn.on('click',function(){
                    if(currentPage < lastPage || lastPage >1){
                        getSafePromiseList(lastPage);
                    }
                })
                break;
            case 'search':
                $previousPageBtn.on('click',function(){
                    if(currentPage > 1 || lastPage >1){
                        searchSafePromise($searchKeyword.val(),$searchType.val(),currentPage-1);
                    }
                })
                $nextPageBtn.on('click',function(){
                    if(currentPage < lastPage){
                        searchSafePromise($searchKeyword.val(),$searchType.val(),currentPage+1);

                    }
                })
                $firstPageBtn.on('click',function(){
                    if(currentPage > 1 || lastPage >1){
                        searchSafePromise($searchKeyword.val(),$searchType.val(),1);
                    }
                })
                $lastPageBtn.on('click',function(){
                    if(currentPage < lastPage || lastPage >1){
                        searchSafePromise($searchKeyword.val(),$searchType.val(),lastPage);
                    }
                })
                break;
        }
    }


</script>
</html>